[Desktop Entry]
Name=CERNBox
GenericName=File Synchronizer
Exec=/usr/bin/cernbox
Terminal=false
Icon=cernbox
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
